<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>에러페이지</title>
	<style>
		.error-message {
			color: red;
		}
		#info {
			width: 90%;
			padding: 10px;
			margin: auto;
			border: 1px solid gray;
			border-radius: 20px;
			margin-bottom: 10px;
			font-size: 18pt;
		}
	</style>
</head>

<body>
	<div id="info">
		<img src="/images/UnderConstruction.png" alt="공사중입니다."/>
		<hr />
		<div class="error-message">죄송합니다. Error입니다. 신속한 처리를 하겠습니다.</div>
	</div>
</body>
</html>