<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.1/css/bootstrap.min.css">
	<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.3.1/js/bootstrap.min.js"></script>
	<script src="/webjars/axios/1.5.0/dist/axios.min.js"></script>
	<title>Main Page</title>
	<style type="text/css">
		#info {
			width: 90%;
			padding: 30px;
			margin: auto;
			border: 1px solid gray;
			border-radius: 30px;
			margin-bottom: 10px;
			font-size: 18pt;
			margin-top: 10px;
		}

	</style>
</head>
<body>
		<div id="info">
			<h2>Spring Boot Security!!!!</h2>
		<hr />
			서버시간 : [[${serverTime}]]
		<hr />
			<img src="/images/linux-icon.png" alt="귀여운 펭귄" width="100" height="100" />
			<img src="/images/linux-icon2.png" alt="건방진 펭귄" width="100" height="100" />
		<hr />
			<a class="btn btn-outline-success" href="/html/hello.html">정적 페이지</a> 
			<a class="btn btn-outline-success" href="/html/react1.html">React 페이지 1</a> 
			<a class="btn btn-outline-success" href="/html/react2.html">React 페이지 2</a> 
			<a class="btn btn-outline-success" href="/swagger-ui/index.html">문서화</a> 			
			<a class="btn btn-outline-success" href="/h2">H2 Database Console</a> 			
		<hr />
	    	<a th:href="@{/hello}" class="btn btn-outline-success">일반 페이지</a>
	    	<a th:href="@{/member}" class="btn btn-outline-success">회원 전용 페이지</a>
	    	<a th:href="@{/admin}" class="btn btn-outline-success">관리자 전용 페이지</a>
	    <hr />
			<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
			    <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
			    <button sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>
			</form>		
		<hr />	    
			<fieldset>
				<legend>시큐리티 정보</legend>
				<div sec:authorize="isAuthenticated()">
					인증이 되었을때 이 내용이 보임
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					ROLE_ADMIN 권한이 있을 경우만 이 내용이 보임
				</div>
				<div sec:authorize="hasRole('ROLE_USER')">
					ROLE_USER 권한이 있을 경우만 이 내용이 보임
				</div>
				<div sec:authorize="isAuthenticated()">
					<!--/* 인증되었다면 권한 표시 */-->
					<div>
						로그인 사용자 : <span sec:authentication="name"></span> <br />
						로그인 권 &nbsp;&nbsp;한 : <span sec:authentication="principal.authorities"></span>
					</div>
					<div sec:authentication="principal"></div>
				</div>
			</fieldset>	    
	    </div>
</body>
</html>